.profile__profession {
    grid-area: desc;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 295px;
}

@media screen and (max-width: 780px) {
    .profile__profession {
        font-size: 14px;
        line-height: 17px;
        max-width: 240px;
    }
}
