.popup__title_type_info {
    width: 358px;
    margin: 0px auto 25px auto;
    padding-top: 35px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
